<!DOCTYPE html>

<div th:fragment="frag_index_content" class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">카트 목록</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h3 class="m-0">
          카트 총 가격 <br />
          <span th:text="|${cartsum}원|"> </span>
        </h3>
      </div>
    </div>
    <!-- /.row -->
  </div>

  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-12 col-12">
          <table class="table">
            <thead class="table-warning">
              <tr>
                <th>No</th>
                <th>제품이미지</th>
                <th>제품이름</th>
                <th>제품가격</th>
                <th>제품수량</th>
                <th>제품별총가격</th>
                <th>삭제</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cartListDto, idx : ${cartlist}">
                <td>
                  <span th:text="${cartListDto.id}"></span>
                </td>
                <td>
                  <img
                    th:src="${cartListDto.imageUrl}"
                    alt="Product Image"
                    style="width: 100px; height: auto"
                  />
                </td>
                <td>
                  <span th:text="${cartListDto.productName}"></span>
                </td>
                <td>
                  <span th:text="${cartListDto.price}"></span>
                </td>
                <td>
                  <span th:text="${cartListDto.quantity}"></span>
                </td>
                <td>
                  <span th:text="${cartListDto.subtotal}"></span>
                </td>
                <td>
                  <a th:href="@{|/cart/delete/${cartListDto.id}|}">삭제</a>
                </td>
              </tr>
            </tbody>
          </table>
          
          <div class="pagination"></div>
            <ul class="pagination">
              <li th:if="${currentPage > 0}" class="page-item">
                <a
                  th:href="@{/cart/list/{id}(id=${id}, page=${currentPage - 1}, size=${size})}"
                  class="page-link"
                  >Previous</a
                >
              </li>
              <li
                th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                class="page-item"
              >
                <a
                  th:href="@{/cart/list/{id}(id=${id}, page=${pageNum}, size=${size})}"
                  class="page-link"
                  th:text="${pageNum + 1}"
                ></a>
              </li>
              <li th:if="${currentPage < totalPages - 1}" class="page-item">
                <a
                  th:href="@{/cart/list/{id}(id=${id}, page=${currentPage + 1}, size=${size})}"
                  class="page-link"
                  >Next</a
                >
              </li>
            </ul>
          </div> 
          <div class="card">
            <div class="card-body login-card-body">
              <p class="login-box-msg">주문 등록</p>
              <form method="post" th:action="@{/order/create}">
                <div class="input-group mb-3">
                  <input type="reset" value="초기화" class="btn btn-warning" />
                  &nbsp;
                  <input type="submit" value="주문" class="btn btn-warning" />
                </div>
              </form>
            </div>
          </div> 
        </div>
      </div>
    </div>
    
  </section>

  
</div>
