<!DOCTYPE html>
<div th:fragment="frag_index_content" class="content-wrapper">
  <div class="card">
    <p class="login-box-msg">QnA 접수</p>
    <form th:method="${method}" th:object="${qPostForm}" th:action="@{/qpost/create}">
      <div class="my-3">
        <input type="text" name="subject" id="subject" placeholder="문의 주제를 작성해주세요" required />
      </div>
      <div class="my-3">
        <textarea
          name="content"
          id="content"
          class="form-control"
          rows="4"
          placeholder="문의 내용을 작성해 주세요"
          required
        ></textarea>
      </div>

      <div class="input-group mb-3">
        <input type="reset" value="초기화" class="btn btn-warning" />
        &nbsp;
        <input type="submit" value="문의 입력" class="btn btn-warning" />
      </div>
    </form>
  </div>
</div>
