<!DOCTYPE html>

<div th:fragment="frag_index_content" class="content-wrapper">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">회원가입</p>

     <form method="post" th:object="${spmallUserForm}" th:action="@{/spmallUser/signup}">		
		
        <div class="input-group mb-3">
        <input type="text" id="username"  th:field="*{username}" class="form-control" placeholder="아이디" required> 
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" id="password1" th:field="*{password1}" class="form-control" placeholder="비밀번호" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
		<div class="input-group mb-3">
          <input type="password" id="password2" th:field="*{password2}" class="form-control" placeholder="비밀번호 확인" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" id="firstName" th:field="*{firstName}" class="form-control" placeholder="이름" required>
          <div class="input-group-append">
            <div class="input-group-text">
              
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" id="lastName" th:field="*{lastName}" class="form-control" placeholder="성" required>
          <div class="input-group-append">
            <div class="input-group-text">
            
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" id="phoneNumber"  th:field="*{phoneNumber}" class="form-control" placeholder="전화번호" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-email"></span>
            </div>
          </div>
        </div>
		
		
		<div class="input-group mb-3">
          <input type="email" id="eMail" th:field="*{eMail}" class="form-control" placeholder="이메일" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-email"></span>
            </div>
          </div>
        </div>
		<div class="input-group mb-3">
			<input type="reset" value="초기화" class="btn btn-warning">
			&nbsp;
			<input type="submit" value="회원가입" class="btn btn-warning"> 
		</div>
      </form>
      
    </div>
  </div>
</div>

